# 20 operands with different operators

In [135]:
154 + 40 / 8 + (((( 13 + 5 )* 2)- 4)/ 2)- 21 / 7 + 18 * 32 % 5 - 12 + 400 + 180 * 38 / 4 + 23 * 12
# 154 + 40 / 8 +  16 -21 / 7 + 18 * 32 % 5 - 12 + 400 + 180 * 38 / 4 + 23 * 12
# 154 + 5 + 16 - 3 + 576 % 5 -12 + 400 + 180 * 9.5 + 276.
# 154 + 5 + 16 - 3 + 1 - 12 + 400 + 1710 + 276
# 176 - 3 - 12 + 2386 
# 2562 - 15
# 2547

2547.0

#  All String data type Methods

In [136]:
name = "Hello World!. This is my World."
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [137]:
name.capitalize()

'Hello world!. this is my world.'

In [138]:
name.casefold()

'hello world!. this is my world.'

In [139]:
x="Barbican"
x.center(40)

'                Barbican                '

In [140]:
name.count("l")

4

In [141]:
name.count("World")

2

In [142]:
name.encode()

b'Hello World!. This is my World.'

In [143]:
name.endswith("!")

False

In [144]:
name.endswith(".")

True

In [145]:
r="\tRest\t"
r.expandtabs(4)

'    Rest    '

In [146]:
r="\tR\te\ts\tt\t"
r.expandtabs(25)

'                         R                        e                        s                        t                        '

In [147]:
name.find("l")

2

In [148]:
txt = "My name is {fname}, I'am {age}".format(fname = "nick", age = 26)
print(txt)

My name is nick, I'am 26

In [149]:
name.format()

'Hello World!. This is my World.'

In [150]:
name.format_map("")

'Hello World!. This is my World.'

In [151]:
# input stored in variable a. 
a = {'x':'John', 'y':'Wick'} 
  
# Use of format_map() function 
print("{x}'s last name is {y}".format_map(a))

John's last name is Wick

In [152]:
name.index("r")

8

In [153]:
name.index("World")

6

In [154]:
name.isalnum()

False

In [155]:
txt="5afgdjk"
txt.isalnum()

True

In [156]:
name.isalpha()

False

In [29]:
a="World"
a.isalpha()

True

In [30]:
name.isascii()

True

In [31]:
a.isascii()

True

In [32]:
txt.isascii()
#print(ascii(txt))
#'5afgdjk'
#print(ascii('Â°'))
#'\xb0'

True

In [34]:
name.isdecimal()

False

In [35]:
txt.isdecimal()

False

In [36]:
b="3456"
b.isdecimal()

True

In [37]:
name.isdigit()

False

In [41]:
b.isdigit()

True

In [42]:
name.isidentifier()

False

In [43]:
c="hjkjlll"
c.isidentifier()

True

In [44]:
name.islower()

False

In [45]:
c.islower()

True

In [46]:
name.isnumeric()

False

In [47]:
x="35467898760"
x.isnumeric()

True

In [48]:
name.isprintable()

True

In [49]:
txt = "Hello!\nAre you #1?"
txt.isprintable()

False

In [50]:
name.isspace()

False

In [51]:
x.isspace()

False

In [52]:
y="      "
y.isspace()

True

In [53]:
name.istitle()

False

In [54]:
title="This Is My World"
title.istitle()

True

In [55]:
name.isupper()

False

In [56]:
name.upper()

'HELLO WORLD!. THIS IS MY WORLD.'

In [57]:
name.isupper()

False

In [58]:
z="HELLO, AND WELCOME TO MY WORLD"
z.isupper()

True

In [114]:
list=['1','3','5','7','9']
a= " # "
a.join(list)

'1 # 3 # 5 # 7 # 9'

In [65]:
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

John#Peter#Vicky

In [100]:
txt="apple"
x=txt.ljust(50," ")
x

'apple                                             '

In [115]:
list1 = ['a','p','p','l','e']
print("".join(list1))

apple

In [157]:
txt="apple"
x=txt.ljust(50,"0")
x

'apple000000000000000000000000000000000000000000000'

In [103]:
txt="apple"
x=txt.ljust(20)
x

'apple               '

In [106]:
name.lower()

'hello world!. this is my world.'

In [109]:
fruit= "     pineapple   "
fruit.lstrip()

'pineapple   '

In [124]:
string = "This is a string example"
intab = "aeiou"
outtab = "12345"
tab = string.maketrans(intab, outtab)
print(tab)
print(string.translate(tab))

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}
Th3s 3s 1 str3ng 2x1mpl2

In [122]:
name.partition("This") #makes a tuple by parting into three sectons

('Hello World!. ', 'This', ' is my World.')

In [168]:
sent="This is my World, World is beautiful"
print(sent.replace("World", "Land"))

This is my Land, Land is beautiful

In [165]:
txt= "I like bananas"
x = txt.replace("bananas", "apples")
print(x)

I like apples

In [166]:
str = "this is string example....wow!!! this is really string"
print(str.replace("is", "was"))
print(str.replace("is", "was", 3))

thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! thwas is really string

In [171]:
name ="Hello World!. This is my World."
name.rfind("l")

28

In [172]:
name.rindex("World")

25

In [179]:
d= "pineapple is love"
d.rjust(40)

'                       pineapple is love'

In [181]:
name.rpartition("World")

('Hello World!. This is my ', 'World', '.')

In [182]:
name.rsplit(",")

['Hello World!. This is my World.']

In [184]:
fruit="apple, banana, guava, berry"
fruit.rsplit(",")

['apple', ' banana', ' guava', ' berry']

In [186]:
r = "  it is here.        "
r.rstrip()

'  it is here.'

In [187]:
name.split()

['Hello', 'World!.', 'This', 'is', 'my', 'World.']

In [188]:
name.splitlines()

['Hello World!. This is my World.']

In [189]:
txt = "Thank you for the music\nWelcome to the jungle"
txt.splitlines()

['Thank you for the music', 'Welcome to the jungle']

In [190]:
name.startswith("W")

False

In [191]:
name.startswith("H")

True

In [208]:
name= "      Hello World           " #remove spaces
name.strip()

'Hello World'

In [193]:
name.swapcase()

'      hELLO wORLD           '

In [196]:
txt="My name is tehreem fatima"
txt.title()

'My Name Is Tehreem Fatima'

In [205]:
# translation table - a dictionary
translation = {97: None, 98: None, 99: 105}

string = "abcdef"
print("Original string:", string)

# translate string
print("Translated string:", string.translate(translation))

Original string: abcdef
Translated string: idef

In [209]:
name.upper()

'      HELLO WORLD           '

In [202]:
name="Hello World"
name.zfill(20)

'000000000Hello World'